<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @page.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Page name:</strong>
  <%= @page.page_name %>
</p>

<p>
  <strong>Access token:</strong>
  <%= @page.access_token %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
