<div class="row">
    <div class="col-md-3 col-sm-2"></div>
    <div class="card about_page col-md-6 col-sm-8">
        <%= link_to page_path(page) do %>
            <div class="card-body">
                <div class="img-wrap">
                    <img src="<%= page.img %>" alt="<%= page.title %>" width="66" height="66">
                </div>
                <div class="info">
                    <p class="info-title"><%= page.title %></p>
                    <small></small>
                    <button class="btn bgm-red new-msg">
                        <span class="zmdi zmdi-email new-msg-badge"></span>
                        <span class="new-msg-counter"><%= page.unread_msg_count %></span>
                    </button>
                </div>
            </div>
        <% end %>
    </div>
    <div class="col-md-3 col-sm-2"></div>
</div>