<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>FacebookPageManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Vendor CSS -->
    <link href="/template/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="/template/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="/template/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="/template/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="/template/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="/template/css/app.min.1.css" rel="stylesheet">
    <link href="/template/css/app.min.2.css" rel="stylesheet">

    <!-- Javascript Libraries -->
    <script src="/template/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/template/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body class="flex-center-center">

<%= render partial: '/site/part/top_nav' %>

<section id="main" data-layout="layout-1">
    <section id="content">
        <%= render partial: '/site/part/flash_messages', flash: flash %>

        <%= yield %>
    </section>
</section>

<%= render partial: '/site/part/footer' %>

<%= render partial: '/site/part/old_ie' %>

<!-- Javascript Libraries -->
<script src="/template/vendors/bower_components/flot/jquery.flot.js"></script>
<script src="/template/vendors/bower_components/flot/jquery.flot.resize.js"></script>
<script src="/template/vendors/bower_components/flot.curvedlines/curvedLines.js"></script>
<script src="/template/vendors/sparklines/jquery.sparkline.min.js"></script>
<script src="/template/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>

<script src="/template/vendors/bower_components/moment/min/moment.min.js"></script>
<script src="/template/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js "></script>
<script src="/template/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
<script src="/template/vendors/bower_components/Waves/dist/waves.min.js"></script>
<script src="/template/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
<script src="/template/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
<script src="/template/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- Placeholder for IE9 -->
<!--[if IE 9 ]>
<script src="/template/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="/template/js/flot-charts/curved-line-chart.js"></script>
<script src="/template/js/flot-charts/line-chart.js"></script>
<script src="/template/js/charts.js"></script>

<script src="/template/js/charts.js"></script>
<script src="/template/js/functions.js"></script>
<script src="/template/js/demo.js"></script>
</body>
</html>